<?xml version="1.0"?>
<launch>
    <arg name="map_file" default="$(find navigation)/maps/house.yaml"/>

    <!-- turtlebot3 bringup -->
    <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
        <arg name="model" default="waffle_pi"/>
    </include>

    <!-- Map server -->

    <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_file)">
        
    </node>
    
    <!-- amcl -->
    <include file="$(find navigation)/launch/amcl.launch" />

    <!-- rviz -->
    <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find navigation)/rviz/amcl.rviz">
        
    </node>

</launch>